<!DOCTYPE html>
<html>
<head>
    <title>Instagram Unfollowers Checker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <div class="card">

        <h1>Instagram Unfollowers Checker</h1>

        <p class="subtitle">
            Upload your Instagram exported HTML files
        </p>

        <form action="/compare" method="POST" enctype="multipart/form-data">

            <div class="file-group">
                <label>Followers File</label>
                <input type="file" name="followers" required>
            </div>

            <div class="file-group">
                <label>Following File</label>
                <input type="file" name="following" required>
            </div>

            <button class="btn" type="submit">
                Compare Lists
            </button>

        </form>

    </div>

</div>

</body>
</html>